In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('Iris.csv')
df.columns =["sepal length in cm","sepal width in cm","petal length in cm","petal width in cm","class"]
df.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [16]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# Subset

In [7]:
df1=df[df['class']=='Iris-setosa']
df1.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [8]:
df2=df[df['class']=='Iris-virginica']
df2.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
100,6.3,3.3,6.0,2.5,Iris-virginica
101,5.8,2.7,5.1,1.9,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
103,6.3,2.9,5.6,1.8,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica

In [9]:
df3=df[df['class']=='Iris-versicolor']
df3.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
50,7.0,3.2,4.7,1.4,Iris-versicolor
51,6.4,3.2,4.5,1.5,Iris-versicolor
52,6.9,3.1,4.9,1.5,Iris-versicolor
53,5.5,2.3,4.0,1.3,Iris-versicolor
54,6.5,2.8,4.6,1.5,Iris-versicolor

# Merge

In [17]:
df4 = pd.concat([df1,df2])
df4

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

# Sort

In [28]:
df5=df.sort_values('petal length in cm',ascending=True)
df5

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
22,4.6,3.6,1.0,0.2,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
...,...,...,...,...,...
131,7.9,3.8,6.4,2.0,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica

# Transpose

In [25]:
df6 = df.T
df6

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal length in cm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal width in cm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal length in cm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal width in cm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

# Melting

In [31]:
Melting = pd.melt(df,id_vars=['sepal length in cm','petal length in cm'],value_name='value',var_name='Metrics')
Melting

     sepal length in cm  petal length in cm            Metrics           value
0                   5.1                 1.4  sepal width in cm             3.5
1                   4.9                 1.4  sepal width in cm             3.0
2                   4.7                 1.3  sepal width in cm             3.2
3                   4.6                 1.5  sepal width in cm             3.1
4                   5.0                 1.4  sepal width in cm             3.6
..                  ...                 ...                ...             ...
445                 6.7                 5.2              class  Iris-virginica
446                 6.3                 5.0              class  Iris-virginica
447                 6.5                 5.2              class  Iris-virginica
448                 6.2                 5.4              class  Iris-virginica
449                 5.9                 5.1              class  Iris-virginica

[450 rows x 4 columns]

# Casting

In [36]:
Casting=pd.pivot_table(df,index=['sepal length in cm','petal length in cm'],values=['sepal width in cm','petal width in cm'])
pd.set_option("display.max_rows", None)
Casting

                                       petal width in cm  sepal width in cm
sepal length in cm petal length in cm
4.3                1.1                               0.1                3.0
4.4                1.3                               0.2                3.1
                   1.4                               0.2                2.9
4.5                1.3                               0.3                2.3
4.6                1.0                               0.2                3.6
...                                                  ...                ...
7.6                6.6                               2.1                3.0
7.7                6.1                               2.3                3.0
                   6.7                               2.1                3.3
                   6.9                               2.3                2.6
7.9                6.4                               2.0                3.8

[123 rows x 2 columns]

In [35]:
pd.reset_option('display.max_rows')

# END